/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.03.2017, 11:57:09
    Author     : alior
*/

body{background-color: #fdfe96;}

nav { position: absolute; top: 188px; left: 75px;}

a{text-decoration: none; font-family: Helvetica,sans-serif; color: white;}

nav ul{margin: 0; padding: 0; float:left; height: 40px; border-radius: 10px 0 0 10px; }

nav ul li {position: relative; list-style: none; float: left; background-color: cornflowerblue; padding: 10px; width: 90px; text-align: center; transition: all 500ms;}

nav ul li:first-child{border-radius: 10px 0 0 10px}
nav ul li:last-child{border-radius: 0 10px 10px 0}

nav ul li:hover {background-color: coral;}

nav ul li:hover ul {height: auto; }

img.logo{position:absolute; top:21px ;left:93px; width:auto; height: 175px; opacity: 0.9; -moz-opacity: 0.9}

p.beschreibung{ margin-top:300px; margin-left: 50px; border:1px solid red; width:500px; border-radius:10px 10px 10px 10px; padding: 5px;}

p.menuuberschrift{position: relative ;top:20px; margin-top:220px; margin-left: 100px;text-align:center; font-size:30px;font-family:cambria blod,sans-serif; }
p.karteueberschrift1{position: relative ;top:20px; left:350px; margin-top:5px; margin-left:150px;margin-bottom: 1px; border:1px solid red; width:720px;border-radius:10px 10px 10px 10px; padding: 5px; text-align: center; background: tomato;font-size: 22px; }
table.speissekarte1{ position: relative ;top:20px; left: 350px; margin-top:5px ; margin-left:150px; border:1px solid red; width:730px;border-radius:10px 10px 10px 10px; padding: 5px; text-align: left; font-size: 18px; }
td.sp_1{width: 50px;}
td.sp_2{width: 250px;}
td.sp_3{width: 300px;}
td.sp_4{width:60px;}
td.sp_5{width:60px}
sup.zutaten{color:brown;}

div.map{}


sub.info{font-family:cambria italic,sans-serif;font-style:italic;}


iframe.mymap{position: relative ; top: 300px; left: 100px; width: 600px;}

p.menuuberschrift2{position: absolute; top: 100px; left: 650px; margin-top:220px; margin-left: 100px;text-align:center; font-size:30px;font-family:cambria blod,sans-serif; }

form.kontaktformular{position: absolute; top: 400px; left: 750px; font-family:cambria blod,sans-serif; }
input.pos1{position:absolute; left: 150px;}
input.pos2{position:absolute; top:200px; left: 150px;}
textarea.pos3{position:absolute; left: 150px;}